* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Poppins',sans-serif;
}
.nav{
  height: 70px;
  display: flex;
  padding: 20px 30px;
  box-shadow: 0px 4.98256px 9.4564px rgba(0, 0, 0, 0.1);
}
.img{
  max-width: 100px;
  height: 40px;
  display: flex;
}
.logo1{
  height: 232px;
  width: 395.906494140625px;
  left: 77px;
  top: 96px;
  border-radius: 8.949999809265137px;
  max-width: 400px;
  align-self: center;
}
.main{
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.head{
  display: flex;
  margin-bottom: 10px;
}
.head-text{
  margin-top: 10px;
}
.top{
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  position: relative;
}
.matter{
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-top: 5px;
  align-items: center;

}
.info{
  color: grey;
  
}
.logo2{
  width: 300px;
  height: 400px;
  margin-top: 5px;
  border-radius: 9px;
}
.logo3{
  width: 30px;
  height: 30px;
}
.actual{
  display: flex;
  flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}
.badge{
  position: absolute;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
  width: fit-content;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px,10px;
  
}
